<html>
	<head>
		<title>Dashboard</title>
		<!-- META !-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- STYLE !-->
		<link rel="stylesheet" href="/c/admin/{BASE_DIR}/style/style.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>

	<body>
		<div class="login">
			<form action="" method="post">
				username: <input type="text" name="username"> <br />
				password: <input type="password" name="password"> <br />
				<input type="submit" name="login" value="Login">
			</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</body>
</html>